@import '../styles/globals.css';

.nav_right {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
  font-size: small;
}

.nav_right .button {
  padding-right: 15px;
}

.nav_right .user {
  color: #fff;
  float: right;
}

#box {
  padding-left: 20px;
}

.footer {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
}
