@import '../styles/globals.css';

.main {
  color: #757575;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/back_img.jpg');
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

.title {
  padding-left: 40px;
  height: 36px;
}

.detail_page {
  display: flex;
  justify-content: center;
}

.join_main {
  display: block;
  width: 314px;
  height: 560px;
  padding: 40px 68px 50px;

  background-color: rgba(0, 0, 0, 0.75);
  border: none;
}

.join_header {
  color: white;
}

.password,
.name,
.phone,
.gender,
.birth_date {
  padding-top: 15px;
}

.email_box,
.password_box,
.name_box,
.phone_box {
  padding: 10px 101px 10px 15px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-size: medium;
  color: white;
}

#yy,
#mm,
#dd {
  padding-left: 7px;
  border: solid 1px #dadada;
}

#yy,
#dd {
  width: 69px;
  height: 45px;
  padding-right: 23px;
}

#mm {
  height: 49px;
  padding-right: 54px;
}

select:focus,
input:focus {
  outline: none;
}

.join_btn {
  display: inline-block;
  /* width: 100%; */
  max-width: 100%;
  margin: 24px 0 12px;
  padding: 16px;

  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background: #e50914;
  color: #fff;
  line-height: 1em;
}

p {
  padding-top: 10px;
}

.footer {
  background: rgba(0, 0, 0, 0.75);
  color: #757575;
}
